<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>Parkly</title>
   <link rel="stylesheet" href="/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
   <div id="page">
      <h1>Parkly</h1>
      <p>Parking, made simple. Rent a driveway from a neighbor or earn from yours.</p>
      <ul>
         <li><a href="/spots">Browse spots</a></li>
         <li><a href="/spots/list">List your driveway</a></li>
         <li><a href="/spots/mybookings">My bookings</a></li>
      </ul>
   </div>
</body>

</html>
