<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title><%= heading %></title>
   <link rel="stylesheet" href="/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
   <div id="page">
      <h1><a href="/">Parkly</a></h1>
      <h2><%= heading %></h2>
      <p><%= message %></p>
      <br>
      <a href="/">HOME</a> | <a href="/spots">Spots</a>
   </div>
</body>

</html>
